.button{
    background-color: red;
    margin-left: 80px;
    margin-top: 10px;
}
.button:active{
    transform: scale(1.2);
}
.kedar{
    height: 200px;
    width: 200px;
    background-color: white;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 15px 10px 5px black;
}

.dhungana{
    height: auto;
    width: 200px;
    padding: 50px 0;
    text-align: center;
    background-color: greenyellow;
    margin-top: 20px;
}
#dhungana{
    display: block;
}
